@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0 px;
  margin: 0 px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("/space.jpg");
  background-size: contain;
}

.cont-p {
  padding-top: 20vh;
  padding-bottom: 15vh;
}
